<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.gas.api.mapper.InformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bs.gas.api.entity.Information">
        <id column="id" property="id" />
        <result column="mercury_name" property="mercuryName" />
        <result column="refueling_type" property="refuelingType" />
        <result column="creator_time" property="creatorTime" />
        <result column="num" property="num" />
        <result column="creator" property="creator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mercury_name, refueling_type, creator_time, num, creator
    </sql>

</mapper>